.row {
    text-align: center;
    max-height: 800px;
}

.col {
    padding: 0;
    display: inline-block;
    border: 1px solid black;
    float: none;
}

.square {
    width: 100%;
    height: 100px;
    background-color: green;
}

.mowner {
    margin: auto;
    height: 64px;
    width: 64px;
    background-image: url("../../assets/mowner_icon.png");
    background-repeat: no-repeat;
}

.oriented-north {
    transform: rotate(-90deg);
}

.oriented-south {
    transform: rotate(90deg);
}

.oriented-west {
    transform: rotate(180deg);
}

.coordinates {
    padding-left: 2px;
    text-align: left;
    font-weight: bold;
}