<div *ngIf="lawn && mowners" class="container">
  <div class="row" *ngFor="let row of lawn.squares">
    <div class="col square" *ngFor="let square of row">
      <div class="coordinates">{{square.x}}, {{square.y}}</div>
        <div *ngFor="let mowner of mowners">
          <div class="mowner" [ngClass]="{'oriented-north': mowner.orientation === checkType.NORTH,
                                          'oriented-west': mowner.orientation === checkType.WEST,
                                          'oriented-south': mowner.orientation === checkType.SOUTH}"
                *ngIf="square.x === mowner.x && square.y === mowner.y"></div>
        </div>
    </div>
  </div>
</div>